<nav class="nav">
  <ul class="nav__items">
    <li class="nav__item">
      <img class="nav__logo" src="../../../assets/images/icon-books.png">
      <a class="nav__name"
        href="javascript:void(0)" routerLink="main"
        queryParamsHandling="merge">
        g-books
      </a>
    </li>
    <li class="nav__item">
      <a
        href="javascript:void(0)" routerLink="main"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}"
        queryParamsHandling="merge">
        search
      </a>
    </li>
    <li class="nav__item">
      <a
        href="javascript:void(0)"
        routerLink="wishList"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}"
        queryParamsHandling="merge">
        wish list
      </a>
    </li>
    <li class="nav__item">
      <span class="nav__item-greeting">Welcome</span>
       {{greetingUserName}}
    </li>
  </ul>

</nav>
