@import "src/app/scss/variables";
.header-wrapper {
  display: flex;
  height: 90px;
  width: 100%;
  z-index: 99;
  box-shadow: $main-box-shadow;
  background-color: $white;
  position: sticky;
  top: 0;
  ul {
    display: flex;
    align-items: center;
    margin: 0;
    color: $gray;
    @media (max-width: $max-mobile-width) {
      padding: 0 40px;
    }
    li {
      list-style: none;
      cursor: pointer;
      padding: 0 20px;
      @media (max-width: $max-mobile-width) {
        width: 80px;
        padding: 0 10px;
      }
      &.greeting {
        cursor: auto;
      }
      a {
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: $gray;
        font-size: 18px;

        &.active {
          border-bottom: 3px solid $gray;
        }
      }
    }
    div {
      font-size: 24px;
      font-family: Arial, Helvetica, sans-serif;
      color: $gray;

      @media (max-width: $max-mobile-width) {
        font-size: 18px;
        display: none;
      }
    }
  }

}
