// colors
$gray: lightslategray;
$lightgray: lightgray;
$black: #000000;
$white: #ffff;
$red: darkred;
$main-box-shadow: 0 0 2rem 0.15rem rgba(0,0,255,.1);
$book-box-shadow: 0 0 1rem 0.1rem rgba(10, 10, 200, 0.3);
$card-box-shadow: 0 0 2rem 0.15rem rgba(0,0,255,.1);
$button-box-shadow: 0 0 1rem 0.1rem rgba(0, 0, 0, 0.15);

// fonts

// mobile-width
$max-mobile-width: 767px;

