@import "src/app/scss/variables";

.wish-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  min-height: 100vh;
  font-size: 1.8rem;

  @media (max-width: $max-tablet-width) {
    font-size: 1.4rem;
  }
}
