<main class="main">
  <div class="search-box">
    <label for="searchBox" class="search-box__label"></label>
    <input id="searchBox" type="text" class="search-box__input" #searchBox (input)="search(searchBox.value)" autocomplete="off">
  </div>
  <div class="main__loader" *ngIf="loading">Loading...</div>
  <div class="main__loader" *ngIf="!loading && !searchBox.value">Start Typing To Search For a Book</div>
  <div class="main__action-buttons" *ngIf="searchBox.value">
    <button type="button" class="btn main__action-buttons--prev" (click)="prev()">< Prev</button>
    <button type="button" class="btn main__action-buttons--next" (click)="next()">Next ></button>
  </div>
  <section class="books">
    <app-book *ngFor="let book of gBooks$ | async" [book]="book">
    </app-book>
  </section>
</main>






<!--for the pipe approach-->
<!---------------------------------------------------------------------------------------------------->
<!--<div class="main-wrapper">-->
<!--  <div class="search-wrapper">-->
<!--    <label for="search-book"></label>-->
<!--    <input id="search-book" type="text" [(ngModel)]="filterValue">-->
<!--  </div>-->

<!--  <div class="books-wrapper">-->
<!--    <app-book *ngFor="let book of books | search: filterValue" [book]="book"></app-book>-->
<!--  </div>-->
<!--</div>-->
<!--<app-popup [isDialogOpen]="isDialogOpen"></app-popup>-->
