@import "src/app/scss/variables";

.book-card {
  height: 350px;
  width: 250px;
  flex-grow: 1;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
  box-shadow: $card-box-shadow;

  &:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  .title {
    text-decoration: underline;
    text-align: center;
  }

  .book-img {
    box-shadow: $book-box-shadow;
  }

  button {
    border-radius: 6px;
    padding: 7px 14px;
    cursor: pointer;
    font-size: 14px;
    border: 1px solid $black;
    background-color: $white;
    color: $gray;
    box-shadow: $button-box-shadow;

    &:hover {
      background-color: lightslategray;
      color: $white;
      border: 1px solid $white;
      box-shadow: none;
    }
  }
}


