/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: "Andale Mono";
  @media (max-width: 767px) {
    position: absolute;
    top: 0;
    left: 0;
  }

}
